<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>btdigg</string>
	<key>connections</key>
	<dict>
		<key>10768B85-8459-4D63-807A-9FDE1976080F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3699CD61-40DC-4F01-81D0-7A3509BB2C8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>rehornchen@tencent.com</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Btdigg Link Copy</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3699CD61-40DC-4F01-81D0-7A3509BB2C8B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>bt</string>
				<key>runningsubtext</key>
				<string>搜索中...</string>
				<key>script</key>
				<string>/usr/local/bin/node ./index.js '{query}'</string>
				<key>subtext</key>
				<string>workflow script for btdigg search for alfred v2</string>
				<key>title</key>
				<string>btdigg search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>10768B85-8459-4D63-807A-9FDE1976080F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>10768B85-8459-4D63-807A-9FDE1976080F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3699CD61-40DC-4F01-81D0-7A3509BB2C8B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
